.comment-list {
}

.comment-item {
  display: flex;
  align-items: flex-start;

  &:not(:first-child) {
    padding-top: 12px;
  }

  &:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
  }
}

.comment-avatar {
  flex: none;
}

.comment-avatar__photo {
  border-radius: 50%;
}

.comment-body {
  flex: 1 1 auto;
}

.comment-meta {
  margin-bottom: 10px;
}

.comment-title {
  color: #111;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.comment-info {
  font-size: 14px;
}

.comment-info__author {
  color: #f85c70;
  font-weight: 500;

  &::after {
    color: #646464;
    padding: 0 7px;
    display: inline-block;
    content: '/';
  }
}

.comment-text {
  color: #444;
}

.comment-notes {
  margin-bottom: 20px;
}

.comment-btn {
  padding: 12px 29px;
  text-transform: uppercase;
  border-radius: 0;
}

@media (min-width: 576px) {
  .comment-avatar {
    max-width: 100px;
    margin-right: 20px;
  }

  .comment-meta {
    display: flex;
  }

  .comment-meta__info {
    flex-grow: 1;
  }
}

@media (max-width: 575px) {
  .comment-avatar {
    max-width: 50px;
    margin-right: 10px;
  }
  .comment-meta__info {
    margin-bottom: 8px;
  }
}