.page-header {
  position: relative;
  background: url(../img/image-01.jpg) no-repeat scroll top center / cover;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000, .5);
  }
}

.page-header__inner {
  position: relative;
  padding-top: 50px;
  padding-bottom: 83px;
}

.page-header__title {
  color: #fff;
  font-weight: 700;
  margin-bottom: 5px;
  word-wrap: break-word;
  font-size: 40px;
}

.breadcrumb-item {
  display: inline;
  color: #cacaca;

  &:not(:last-child)::after {
    content: "\f105";
    padding: 0 7px;
    font-family: fontAwesome;
    font-weight: 600;
    color: #fff;
  }
}

.breadcrumb-link {
  color: #fff;
  transition: color .5s ease-out;
}

@media (max-width: 991px) {
  .page-header__title {
    line-height: 1.2;
  }

  .breadcrumb-item {
    line-height: 1.8;
  }
}
