.related-carousel {
  margin-left: -10px;
  margin-right: -10px;
}

.related-carousel__nav {
  margin-right: -8px;
}

.related-carousel-prev,
.related-carousel-next {
  padding: 4px 8px;
  font-size: 20px;
  border: 0;
  color: #a6a6a6;
  background: transparent;
  transition: color .3s;

  &:focus {
    outline: 0;
  }

  &:hover {
    color: $pink;
  }
}

.related-carousel__item {
  padding: 1px 10px 2px;

  &:focus {
    outline: 0;
  }
}
