.single-meta__wrap {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.single-meta {
  margin-right: auto;
}

.single-meta__item {
  display: inline;
  margin-right: 10px;
  font-size: 15px;
  line-height: 1;
  color: #999;
}

.single-meta__icon {
  margin-right: 7px;
}
