.single-meta {
  margin-right: auto;
}

.single-meta__item {
  display: inline;
  margin-right: 10px;
  font-size: 15px;
  line-height: 1;
  color: #999;
}

.single-meta__icon {
  margin-right: 7px;
}

@media (min-width: 992px) {
  .single-meta__wrap {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
  }
}

@media (max-width: 991px) {
  .single-meta__wrap {
    margin-bottom: 20px;
  }
}
