.single-wrap {
  padding-top: 70px;
  padding-bottom: 70px;
}

.single-block {
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
}

.single-block-content {
  margin-bottom: 30px;
  background-color: #fff;
}

.single-block__header {
  border-bottom: 1px solid #e1e1e1;
  background-color: #fff;
  padding: 12px 30px;
  display: flex;
  align-items: center;
}

.single-block__title {
  margin-right: auto;
  color: #222;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0;
}

@media (min-width: 992px) {
  .single-block-content {
    padding: 30px;
  }
}

@media (max-width: 991px) {
  .single-block-content {
    padding: 20px;
  }
}
