.rating-star {
  margin-bottom: 10px;
}

.rating-star__list {
  display: inline-flex;
  line-height: 1;
  flex-direction: row-reverse;
}

.rating-star__item {
  color: #ffb400;
  cursor: pointer;

  &:not(:last-child) {
    padding-left: 2px;
  }

  &::before {
    content: '\f006';
  }

  &:hover {
    &::before {
      content: '\f005';
    }

    ~ .rating-star__item::before {
      content: '\f005';
    }
  }

  &.active {
    &::before {
      content: '\f005';
    }

    ~ .rating-star__item::before {
      content: '\f005';
    }
  }
}
