.top-bar {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 90;
  background-color: #fff;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, .2);
}

.top-bar__wrap {
  align-items: center;
}

.top-bar__nav {
  display: flex;
  align-items: center;
}

.top-bar__btn {
  margin-left: 20px;
  display: flex;
  align-items: center;
  flex: none;
  font-weight: 500;
  line-height: 1;
  border-radius: 50px;
  color: #fff;
  background-color: $link-color;
  transition: background-color .3s;

  &:hover {
    background-color: #e43d40;
    color: #fff;
  }
}

.top-bar__login {
  margin-left: 15px;
  font-size: 20px;
  line-height: 1;
}

@media (min-width: 992px) {
  .top-bar__nav {
    flex-direction: row-reverse;
  }
  .top-bar__btn {
    height: 52px;
    font-size: 15px;
    padding-left: 30px;
    padding-right: 30px;
  }


  .top-bar__btn-decor {
    padding-right: 12px;
    font-size: 18px;
  }
}

@media (max-width: 991px) {
  .top-bar__container {
    max-width: 100%;
  }
  .top-bar__logo {
    height: 32px;
    display: block;

    img {
      max-height: 100%;
      display: block;
    }
  }
  .top-bar__btn {
    height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
  }
  .top-bar__btn-decor {
    padding-right: 10px;
  }
  .top-bar {
    border-bottom: 2px solid #f85c70;
  }
  .top-bar__nav {
    justify-content: flex-end;
  }
}
