.sidebar-price {
  display: none;
}

.sidebar-price__amount {
  font-size: 25px;
}

.widget {
  border-radius: 2px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .1);
  background-color: #fff;
  color: #646464;
  border: none;
  margin-bottom: 30px;
}

.widget-text .list-arrow__item {
  font-size: 15px;
}

.widget-title {
  color: #222;
  border-bottom: 1px solid #e1e1e1;
  font-size: 20px;
  line-height: 1.4;
  padding: 12px 30px;
  margin-bottom: 0;
  position: relative;
  font-weight: 700;
}

.widget-box {
  padding: 20px;
}

.widget-box__author {
  margin-bottom: 30px;
}

.widget-box__author-thumbnail {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.widget-box__author-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  color: #222;
  font-family: Nunito, sans-serif;
}

.widget-box__item {
  margin-bottom: 10px;
  display: flex;

  .fa {
    width: 25px;
    margin-top: 5px;
    line-height: 1;
    flex: none;
    font-size: 14px;
    text-align: left;
  }
}

.widget-box__item-text {
  font-size: 14px;
  flex-grow: 1;
  color: inherit;
}

.widget-box__phone {
  margin-bottom: 10px;
  background-color: #f2f2f2;
  border-radius: 2px;
  padding: 10px 20px;
  cursor: pointer;
}

.widget-box__phone-reveal {
  .numbers {
    font-size: 16px;
    color: #444;
    font-weight: 600;

    &::before {
      color: #e43d40;
      padding-right: 10px;
      font-weight: 400;
      content: "\f095";
      font-family: fontAwesome;
    }
  }

  .text-muted {
    color: #6c757d;
  }
}

.widget-box__email-button {
  display: block;
  width: 100%;
  border-radius: 2px;
  background-color: #444;
  padding: 10px 20px;
  color: #fff;
  font-weight: 500;
  transition: background-color .3s, color 3s;

  &:hover {
    background-color: #000;
  }

  .fa {
    color: #e43d40;
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  .widget-info {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .sidebar-price {
    background-color: #f85c70;
    color: #fff;
    padding: 20px;
    border-radius: 2px;
    margin-bottom: 25px;
    font-weight: 700;
    line-height: 1;
    display: block;
  }
}
