@@include('./includes/header.html')

<main class="wrapper">
  <div class="page-header">
    <div class="page-header__inner container">
      <h1 class="page-header__title">High quality brand new headphone</h1>

      <nav aria-label="breadcrumb">
        <ol class="breadcrumb list-unstyled">
          <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Home</a></li>
          <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Classified Listings</a></li>
          <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Electronics</a></li>
          <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Mobile Accessories</a></li>
          <li class="breadcrumb-item active" aria-current="page">High quality brand new headphone</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="single-wrap container">
    <div class="row">
      <div class="col-xl-9 col-lg-8 col-sm-12 col-12">
          <div class="single-block single-block-content">
            <div class="post-slider">
                <span class="post-slider__gallery" data-fancybox="post-slider__big" data-src="img/example/headphones-858x493.png">
                  <i class="fa fa-search"></i>
                </span>

              <div class="post-slider__big">
                <div class="post-slider__big-item" data-fancybox="post-slider__big" data-src="img/example/headphones-858x493.png">
                  <img src="img/example/headphones-858x493.png" alt="" class="post-slider__big-img">
                </div>
                <div class="post-slider__big-item" data-fancybox="post-slider__big" data-src="img/example/img_b6.2-832x493.jpg">
                  <img src="img/example/img_b6.2-832x493.jpg" alt="" class="post-slider__big-img">
                </div>
                <div class="post-slider__big-item" data-fancybox="post-slider__big" data-src="img/example/img_b6.3-832x493.jpg">
                  <img src="img/example/img_b6.3-832x493.jpg" alt="" class="post-slider__big-img">
                </div>
                <div class="post-slider__big-item" data-fancybox="post-slider__big" data-src="img/example/img_b6.5-832x493.jpg">
                  <img src="img/example/img_b6.5-832x493.jpg" alt="" class="post-slider__big-img">
                </div>
                <div class="post-slider__big-item" data-fancybox="post-slider__big" data-src="img/example/img_b6-832x493.jpg">
                  <img src="img/example/img_b6-832x493.jpg" alt="" class="post-slider__big-img">
                </div>
              </div>

              <div class="post-slider__nav">
                <div class="post-slider__nav-item">
                  <img src="img/example/headphones-170x116.png" class="post-slider__nav-img" alt="">
                </div>
                <div class="post-slider__nav-item">
                  <img src="img/example/img_b6.2-170x116.jpg" class="post-slider__nav-img" alt="">
                </div>
                <div class="post-slider__nav-item">
                  <img src="img/example/img_b6.3-170x116.jpg" class="post-slider__nav-img" alt="">
                </div>
                <div class="post-slider__nav-item">
                  <img src="img/example/img_b6.5-170x116.jpg" class="post-slider__nav-img" alt="">
                </div>
                <div class="post-slider__nav-item">
                  <img src="img/example/img_b6-170x116.jpg" class="post-slider__nav-img" alt="">
                </div>
              </div>
            </div>

            <div class="single-meta__wrap">
              <ul class="single-meta list-unstyled">
                <li class="single-meta__item">
                  <i class="single-meta__icon fa fa-clock-o" aria-hidden="true"></i>August 18, 2019 12:20 pm
                </li>
                <li class="single-meta__item">
                  <i class="single-meta__icon fa fa-map-marker" aria-hidden="true"></i>New York, Mineola
                </li>
                <li class="single-meta__item">
                  <i class="single-meta__icon fa fa-eye" aria-hidden="true"></i>99 views
                </li>
              </ul>

              <div class='single-badge__wrap'>
                <span class="badge badge-danger">New</span>
                <span class="badge badge-info">Featured</span></div>
            </div>

            <ul class="nav nav-tabs" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#listing-tab-description" role="tab" aria-selected="true">Details</a></li>
              <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#listing-tab-specs" role="tab" aria-selected="false">Features</a>
              </li>
            </ul>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="listing-tab-description" role="tabpanel">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore magna aliqua. In eu mi bibendum neque
                  egestas congue quisque. At urna condimentum mattis pellentesque id nibh
                  tortor. Aliquam eleifend mi in nulla posuere. Sed sed risus pretium quam
                  vulputate. Sit amet dictum sit amet justo donec enim diam vulputate.
                  Condimentum lacinia quis vel eros donec ac odio. Amet mauris commodo quis
                  imperdiet massa tincidunt nunc pulvinar sapien. Id interdum velit laoreet
                  id. Enim diam vulputate ut pharetra sit. Dictum sit amet justo donec enim
                  diam vulputate. Vestibulum mattis ullamcorper velit sed ullamcorper morbi
                  tincidunt ornare massa.</p>
                <p>Molestie a iaculis at erat pellentesque. Augue interdum velit euismod in.
                  Aliquam id diam maecenas ultricies mi eget mauris pharetra et. Orci sagittis
                  eu volutpat odio facilisis. Euismod nisi porta lorem mollis. Viverra
                  accumsan in nisl nisi. Porttitor eget dolor morbi non arcu risus quis. Magna
                  fringilla urna porttitor rhoncus dolor purus. Eget mi proin sed libero.
                  Vitae justo eget magna fermentum iaculis eu non diam. Leo vel fringilla est
                  ullamcorper eget nulla. Faucibus ornare suspendisse sed nisi lacus sed.
                  Semper risus in hendrerit gravida rutrum. Urna cursus eget nunc scelerisque
                  viverra mauris in. Fermentum posuere urna nec tincidunt.</p>
              </div>

              <div class="tab-pane fade" id="listing-tab-specs" role="tabpanel">
                <div class="custom-fields">
                  <span class="custom-fields__label">Condition : </span> <span class="custom-fields__title">Used</span>
                </div>

                <ul class="list-spec list-spec-col-2 clearfix">
                  <li class="list-spec__item">Lorem ipsum dummy text</li>
                  <li class="list-spec__item">Lorem ipsum dummy text of the printing</li>
                  <li class="list-spec__item">Dmply dummy text of the printing</li>
                  <li class="list-spec__item">Lorem ipsum typesetting industry</li>
                  <li class="list-spec__item">Lorem ipsum dummy text of the printing</li>
                  <li class="list-spec__item">Dmply dummy text</li>
                  <li class="list-spec__item">Dmply dummy amet</li>
                  <li class="list-spec__item">Intact Box</li>
                  <li class="list-spec__item">1 Year international warranty</li>
                </ul>
              </div>
            </div>

            <ul class="single-action list-inline list-group-flush">
              <li class="list-inline-item">
                <span class="fa fa-heart-o"></span>
                <span class="single-action__label">Add to Favourites</span>
              </li>
              <li class='list-inline-item'>
                <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>Report Abuse
              </li>
              <li class="list-inline-item single-social">
                <span class="single-social__label">
                  <i class="fa fa-share-alt" aria-hidden="true"></i>Share:
                </span>
                <a href="#" class="single-social__item fa fa-fw fa-facebook" target="_blank" rel="nofollow"></a>
                <a href="#" class="single-social__item fa fa-fw fa-twitter" target="_blank" rel="nofollow"></a>
                <a href="#" class="single-social__item fa fa-fw fa-google-plus" target="_blank" rel="nofollow"></a>
              </li>
            </ul>
          </div>


        <div class="single-block">
          <div class="single-block__header">
            <h3 class="single-block__title">Location</h3>
          </div>
          <div class="single-block-content">
            <div class="embed-responsive embed-responsive-16by9">
              <div class="embed-responsive-item">
                <div style="width: auto;height: 460px" id="mapsk1fywes"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="single-block">
          <div class="single-block__header">
            <h3 class="single-block__title">Related Ads</h3>
            <div class="related-carousel__nav"></div>
          </div>
          <div class="single-block-content">
            <div class="related-carousel">
              <div class="related-carousel__item">
                <div class="related-carousel__inner card-post">
                  <a href="#" class="card-media">
                    <img src="img/example/imac-400x280.png" class="card-media__img" alt="">
                  </a>

                  <div class="card-content">
                    <span class="card-title">
                      <a href="#" class="card-title__link">HD 27 inch Mac 1 year used only</a>
                    </span>
                    <span class='card-title__badge'>
                      <span class="badge badge-danger">New</span>
                    </span>

                    <ul class="card-meta list-unstyled">
                      <li class="card-meta__item"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>4 months
                        ago
                      </li>
                      <li class="card-meta__item"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Port
                        Chester, New York
                      </li>
                    </ul>

                    <div class="card-price">
                      <span class="card-price__amount">$2,500</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="related-carousel__item">
                <div class="related-carousel__inner card-post">
                  <a href="#" class="card-media">
                    <img src="img/example/watch-400x280.png" class="card-media__img" alt="">
                  </a>

                  <div class="card-content">
                    <span class="card-title">
                      <a href="#" class="card-title__link">New Banded Smart Watch</a>
                    </span>
                    <span class='card-title__badge'>
                      <span class="badge badge-danger">New</span>
                    </span>

                    <ul class="card-meta list-unstyled">
                      <li class="card-meta__item"><i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>4 months ago
                      </li>
                      <li class="card-meta__item"><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>Kansas, Emporia
                      </li>
                    </ul>

                    <div class="card-price">
                      <span class="card-price__amount">$47</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="related-carousel__item">
                <div class="related-carousel__inner card-post">
                  <a href="#" class="card-media">
                    <img src="img/example/shoes-400x280.png" class="card-media__img" alt="">
                  </a>

                  <div class="card-content">
                    <span class="card-title">
                      <a href="#" class="card-title__link">Running shoes imported from china</a>
                    </span>
                    <span class='card-title__badge'>
                      <span class="badge badge-danger">New</span>
                    </span>

                    <ul class="card-meta list-unstyled">
                      <li class="card-meta__item">
                        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>5 months ago
                      </li>
                      <li class="card-meta__item">
                        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>California, Bakersfield
                      </li>
                    </ul>

                    <div class="card-price">
                      <span class="card-price__amount">$36</span>
                    </div>
                  </div>
                </div>
              </div>

              <div class="related-carousel__item">
                <div class="related-carousel__inner card-post">
                  <a href="#" class="card-media">
                    <img src="img/example/jersey-400x280.png" class="card-media__img" alt="">
                  </a>

                  <div class="card-content">
                    <span class="card-title">
                      <a href="#" class="card-title__link">Team Jersey available in reasonable price</a>
                    </span>

                    <ul class="card-meta list-unstyled">
                      <li class="card-meta__item">
                        <i class="fa fa-fw fa-clock-o" aria-hidden="true"></i>5 months ago
                      </li>
                      <li class="card-meta__item">
                        <i class="fa fa-fw fa-map-marker" aria-hidden="true"></i>New Jersey, Bloomfield
                      </li>
                    </ul>

                    <div class="card-price">
                      <span class="card-price__old">$120</span>
                      <span class="card-price__amount">$90</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="content-block-gap"></div>
        <div class="site-content-block">
          <div class="main-title-block review-title-block"><h3 class="main-title">1 Review</h3>
            <div>
              <div class="star-rating" title="Rated 5.00 out of 5 based on 1 customer rating">
                                        <span style="width:100%">Rated <strong class="rating">5.00</strong> out of 5 based on <span
                                                class="rating">1</span> customer rating</span></div>
            </div>
          </div>
          <div class="main-content">
            <div class="review-area">
              <ul class="comment-list">
                <li class="comment even thread-even depth-1" id="li-comment-7">
                  <div class="each-comment media clearfix">
                    <div class="pull-left imgholder"><img alt=''
                                                          src='https://secure.gravatar.com/avatar/1200c1ecc73e0c929e24138c7e7af5e0?s=100&#038;d=mm&#038;r=g'
                                                          srcset='https://secure.gravatar.com/avatar/1200c1ecc73e0c929e24138c7e7af5e0?s=200&#038;d=mm&#038;r=g 2x'
                                                          class='avatar avatar-100 photo media-object'
                                                          height='100' width='100'/></div>
                    <div class="media-body comments-body">
                      <div class="comment-meta clearfix">
                        <div class="comment-meta-left"><h3 class="comment-title">Overall
                          good</h3>
                          <div class="comment-info"><span
                                  class="c-author">John Doe</span> <span
                                  class="c-seperator">/</span> <span class="c-time">November 5, 2018 @1:04 pm</span>
                          </div>
                        </div>
                        <div class="rating-display-area">
                          <div class="star-rating"
                               title="Rated 5 out of 5 based on 0 customer ratings">
                                                                <span style="width:100%">Rated <strong
                                                                        class="rating">5</strong> out of 5</span></div>
                        </div>
                      </div>
                      <div class="comment-text"><p>Lorem ipsum dolor sit amet, consectetur
                        adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation ullamco</p></div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="content-block-gap"></div>
        <div class="site-content-block">
          <div class="main-title-block"><h3 class="main-title">Leave a Review</h3></div>
          <div class="main-content review-area">
            <div id="respond" class="comment-respond"><small><a rel="nofollow"
                                                                id="cancel-comment-reply-link"
                                                                href="/demo/wordpress/themes/classima/listing/high-quality-brand-new-headphone/#respond"
                                                                style="display:none;">Cancel
              reply</a></small>
              <form action="https://www.radiustheme.com/demo/wordpress/themes/classima/wp-comments-post.php"
                    method="post" id="commentform" class="comment-form" novalidate><p
                      class="comment-notes"><span id="email-notes">Your email address will not be published.</span>
                Required fields are marked <span class="required">*</span></p>
                <div class="comment-form-author form-group"><label for="author">Your
                  Name&nbsp;<span class="required">*</span></label> <input id="author"
                                                                           class="form-control"
                                                                           name="author"
                                                                           type="text"
                                                                           value="" size="30"
                                                                           aria-required="true"
                                                                           required/></div>
                <div class="comment-form-email form-group"><label for="email">Your
                  Email&nbsp;<span class="required">*</span></label> <input id="email"
                                                                            name="email"
                                                                            class="form-control"
                                                                            type="email"
                                                                            value="" size="30"
                                                                            aria-required="true"
                                                                            required/></div>
                <div class="comment-form-title  form-group"><label for="title">Review Title&nbsp;<span
                        class="required">*</span></label><input type="text" class="form-control"
                                                                name="title" id="title"
                                                                aria-required="true" required/>
                </div>
                <div class="comment-form-rating  form-group"><label for="rating">Your
                  Rating<span class="required">*</span></label><select name="rating"
                                                                       id="rating"
                                                                       class="form-control"
                                                                       required>
                  <option value="">Rate&hellip;</option>
                  <option value="5">Perfect</option>
                  <option value="4">Good</option>
                  <option value="3">Average</option>
                  <option value="2">Not that bad</option>
                  <option value="1">Very poor</option>
                </select></div>
                <div class="comment-form-comment  form-group"><label for="comment">Your Review&nbsp;<span
                        class="required">*</span></label><textarea id="comment"
                                                                   class="form-control"
                                                                   name="comment" cols="45"
                                                                   rows="8" required></textarea>
                </div>
                <p class="form-submit"><input name="submit" type="submit" id="submit"
                                              class="submit btn-send" value="Submit"/> <input
                        type='hidden' name='comment_post_ID' value='159' id='comment_post_ID'/>
                  <input type='hidden' name='comment_parent' id='comment_parent' value='0'/>
                </p></form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</main>

<div class="modal fade" id="rtcl-report-abuse-modal" tabindex="-1" role="dialog"
     aria-labelledby="rtcl-report-abuse-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <form id="rtcl-report-abuse-form" class="form-vertical">
        <div class="modal-header"><h5 class="modal-title"
                                      id="rtcl-report-abuse-modal-label">Report
          Abuse</h5>
          <button type="button" class="close" data-dismiss="modal"
                  aria-label="Close"><span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group"><label for="rtcl-report-abuse-message">Your
            Complain<span class="rtcl-star">*</span></label><textarea
                  class="form-control" id="rtcl-report-abuse-message" rows="3"
                  placeholder="Message... " required></textarea></div>
          <div id="rtcl-report-abuse-g-recaptcha"></div>
          <div id="rtcl-report-abuse-message-display"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            Close
          </button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

@@include('./includes/footer.html')