
<footer class="footer">
    <div class="footer-top container">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-12">
                <div class="footer-widget">
                    <div class="footer-widget__logo">
                        <img src="img/logo-light_logo.png" alt="">
                    </div>
                    <div class="footer-widget__text">
                        Classima a Largest Classified Listing Marketplace offers perfect
                        WordPress Ads classified Themes to build your own classified websites.
                    </div>
                    <ul class="socials list-unstyled">
                        <li class="social-item icon-facebook">
                            <a href="#" class="social-link" target="_blank"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li class="social-item icon-twitter">
                            <a href="#" class="social-link" target="_blank"><i class="fa fa-fw fa-twitter"></i></a>
                        </li>
                        <li class="social-item icon-gplus">
                            <a href="#" class="social-link" target="_blank"><i class="fa fa-fw fa-google-plus"></i></a>
                        </li>
                        <li class="social-item icon-linkedin">
                            <a href="#" class="social-link" target="_blank"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li class="social-item icon-pinterest">
                            <a href="#" class="social-link" target="_blank"><i class="fa fa-fw fa-pinterest"></i></a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="footer-widget">
                    <h3 class="footer-widget__title">How to Sell Fast</h3>
                    <div class="menu-selling-container">
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Selling TIps</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Buy and Sell Quickly</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Membership</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Banner Advertising</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Promote Your Ad</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="footer-widget">
                    <h3 class="footer-widget__title">Information</h3>
                    <div class="menu-information-container">
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Company &#038; Contact Info</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Blog &#038; Articles</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Sitemap</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Terms of Service</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Privacy Policy</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-12">
                <div class="footer-widget">
                    <h3 class="footer-widget__title">Help &#038;Support</h3>
                    <div class="menu-support-container">
                        <ul class="footer-menu">
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Live Chat</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">FAQ</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">How to Stay Safe</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Terms &#038; Conditions</a>
                            </li>
                            <li class="footer-menu__item">
                                <a href="#" class="footer-menu__link">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-sm-12 col-12">
                    &copy; Copyright Classima 2019. Designed and Developed&nbsp;by
                    <a target="_blank" href="#">RadiusTheme</a>
                </div>
                <div class="col-md-4 col-sm-12 col-12">
                    <ul class="payment-icons">
                        <li>
                            <img src="img/payment/payment-method1.jpg" alt="">
                        </li>
                        <li>
                            <img src="img/payment/payment-method2.jpg" alt="">
                        </li>
                        <li>
                            <img src="img/payment/payment-method3.jpg" alt="">
                        </li>
                        <li>
                            <img src="img/payment/payment-method4.jpg" alt="">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="modal fade" id="mail-to-seller" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" data-hide="0">
                <form class="form-vertical">
                    <div class="form-group">
                        <input type="text" class="form-control" id="rtcl-contact-name" placeholder="Name *" required/>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="rtcl-contact-email" placeholder="Email*" required/>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" id="rtcl-contact-message" rows="3" placeholder="Message*" required></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="scrollToTop"><i class="fa fa-angle-double-up"></i></div>


<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyCFR9xL5cw0CyGsQdWHYhyawCTmyDMhGA8&callback=GoogleReadyHandlers" async defer></script>
<script src="js/lib.min.js"></script>
<script src="js/scripts.min.js"></script>
</body>
</html>