<!doctype html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>High quality brand new headphone &#8211; Classima</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700|Nunito:400,600,700,800&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="css/lib.min.css">
    <link rel="stylesheet" href="css/styles.min.css">

    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <link rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#f75c70">
    <link rel="shortcut icon" href="favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-config" content="favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<header class="top-bar">
    <div class="top-bar__container container">
        <div class="top-bar__wrap row">
            <div class="col-lg-2 col-md-3 col-sm-4 col-5">
                <a href="#" class="top-bar__logo">
                    <img src="img/logo.png" alt="Site Name">
                </a>
            </div>

            <div class="top-bar__nav col-lg-10 col-md-9 col-sm-8 col-7">
                <a class="top-bar__btn" href="#">
                    <i class="top-bar__btn-decor fa fa-plus" aria-hidden="true"></i>Post <span class="d-none d-lg-block d-xl-none">&nbsp;Your&nbsp;</span> Ad
                </a>

                <a href="#" class="top-bar__login" data-toggle="tooltip" title="Login/Register">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                </a>

                <button class="menu-toggle"></button>

                <ul class="menu list-unstyled">
                    <li class="menu-item menu-parent">
                        <a href="#" class="menu-link">Home</a>
                        <ul class="sub-menu list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="menu-link">Home 1</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Home 2</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Home 3</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Home 4</a>
                            </li>
                            <li  class="menu-item">
                                <a href="#" class="menu-link">Home 5</a>
                            </li>
                        </ul>
                        <span class="menu-parent__data"></span>
                    </li>
                    <li class="menu-item menu-parent menu-columns">
                        <a href="#" class="menu-link">All Ads</a>
                        <ul class="sub-menu list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="menu-link">Grid View</a>
                                <ul class="sub-menu list-unstyled">
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Grid View 1</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Grid View 2</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Grid View 3</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Grid View 4</a>
                                    </li>
                                </ul>
                                <span class="menu-parent__data"></span>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">List View</a>
                                <ul class="sub-menu list-unstyled">
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">List View 1</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">List View 2</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">List View 3</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">List View 4</a>
                                    </li>
                                </ul>
                                <span class="menu-parent__data"></span>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Col3</a>
                                <ul class="sub-menu list-unstyled">
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Single Ad 1</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Single Ad 2</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">All Stores</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Store Details</a>
                                    </li>
                                </ul>
                                <span class="menu-parent__data"></span>
                            </li>
                        </ul>
                        <span class="menu-parent__data"></span>
                    </li>
                    <li class="menu-item menu-parent menu-columns">
                        <a href="#" class="menu-link">Pages</a>
                        <ul class="sub-menu list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="menu-link">Column 1</a>
                                <ul class="sub-menu list-unstyled">
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">About Us</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">FAQ</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Search Result</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Error 404</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Column 2</a>
                                <ul class="sub-menu list-unstyled">
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">All Ads</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Single Ad 1</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">Single Ad 2</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="#" class="menu-link">My Account</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <span class="menu-parent__data"></span>
                    </li>
                    <li class="menu-item menu-parent">
                        <a href="#" class="menu-link">Stores</a>
                        <ul class="sub-menu list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="menu-link">All Stores</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Store Details</a>
                            </li>
                        </ul>
                        <span class="menu-parent__data"></span>
                    </li>
                    <li class="menu-item menu-parent">
                        <a href="#" class="menu-link">Blog</a>
                        <ul class="sub-menu list-unstyled">
                            <li class="menu-item">
                                <a href="#" class="menu-link">Blog – Default Layout</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Blog –
                                    Standard Layout</a>
                            </li>
                            <li class="menu-item">
                                <a href="#" class="menu-link">Single Post</a>
                            </li>
                        </ul>
                        <span class="menu-parent__data"></span>
                    </li>
                    <li class="menu-item">
                        <a href="#" class="menu-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>
