a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Nunito, sans-serif;
  font-weight: 700;
  line-height: 1.4;
}

h1 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

img {
  max-width: 100%;
}

.btn {
  text-transform: uppercase;
}

.list-spec {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

.list-spec-col-2 .list-spec__item {
  width: 49%;
  float: left;
}

.list-spec__item {
  padding-left: 30px;
  position: relative;
  margin-bottom: 8px;
  margin-right: 5px;

  &::before {
    text-align: center;
    content: "\f105";
    height: 16px;
    width: 16px;
    position: absolute;
    font-size: 15px;
    line-height: 1;
    left: 0;
    top: 5px;
    border-radius: 50%;
    z-index: 1;
    color: #fff;
    background-color: $pink;
    font-family: FontAwesome;
  }
}

.wrapper {
  background-color: #f5f7fa;
}
