@import "general/settings";
@import "general/common";
@import "components/top-bar";
@import "components/page-header";
@import "components/single-block";
@import "components/post-slider";
@import "components/single-meta";
@import "components/custom-fields";
@import "components/single-action";
@import "components/card";
@import "components/related-carousel";
@import "components/star-rating";

.comment-list {
}

.comment-item {
  display: flex;
  align-items: flex-start;

  &:not(:first-child) {
    padding-top: 12px;
  }
  &:not(:last-child) {
    padding-bottom: 15px;
    border-bottom: 1px solid #ebebeb;
  }
}

.comment-avatar {
  max-width: 100px;
  margin-right: 20px;
  margin-bottom: 10px;
  flex: none;
}

.comment-avatar__photo {
  border-radius: 50%;
}

.comment-body {
  flex: 1 1 auto;
}

.comment-meta {
  margin-bottom: 10px;
  display: flex;
}

.comment-meta__info {
}

.comment-title {
  color: #111;
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.comment-info {
  font-size: 14px;
}

.comment-info__author {
  color: #f85c70;
  font-weight: 500;

  &::after {
    color: #646464;
    padding: 0 7px;
    display: inline-block;
    content: '/';
  }
}

.rating-display-area {
  margin-top: 10px;
  margin-left: auto;
}

.comment-text {
  color: #444;
}
